<!-- SideBar -->
<%= render partial: 'sidebar' %>

<!-- Content page-->
<section class="full-box dashboard-contentPage">
	<!-- NavBar -->
	<%= render partial: 'navbar' %>
	
	<!-- Content page -->
	<%= yield %>
</section>